.mainContainer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 3.7rem);
    background-color: #202225;
}

.mainWrap {
    position: relative;
    margin: 0 5% 0 5%;
    height: 95%;
    border-radius: 10px;
    background-color:  #2F3136;
    display: flex;
}

.mainFriendsView {
    position: relative;
    background-color: #383b41;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
    flex: 0.25;
    height: 100%;
}

.mainFriendsViewWrap {
    width: 100%;
    height: 100%;
    text-align: center;
}

.spanTopMes {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.mainFriendsChat {
    position: relative;
    flex: 1;
    height: 100%;
}

.mainFriendsChatWrapp {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainFriendsChatWrapp > span {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.mainFriendsChatProps {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #292B2F;
    border-top-right-radius: 10px;
}

.mainFriendsChatProps > span {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.callIconProp {
    margin-left: 90%;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .mainWrap {
        background-color:  #202225;
        overflow: hidden;
    }

    .mainFriendsView {
        position: relative;
        flex: 0.45;
        background-color: #383b41;
        border-top-left-radius: 10px;
        overflow-y: scroll;
    }

    .mainFriendsView {
        flex: 0.6;
    }

    .mainFriendsChat {
        position: absolute;
        background-color:  #2F3136;
        width: 100%;
        border-radius: 10px;
        -webkit-animation: slideOut 0.5s linear;
        animation: slideOut 0.5s linear;
        left: 0;
    }

    @-webkit-keyframes slideOut {
        0% { left: 55vw; }
        100% { left: 0; }
    }
    
    @keyframes slideOut {
        0% { left: 55vw; }
        100% { left: 0; }
    }

    .mainFriendsChatWrapp {
        width: 100%;
        text-align: center;
    }

    .mainFriendsChatWrapp > span {
        float: left;
        margin: 16px 0 0 3rem;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }

    .mainFriendsChatProps {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #292B2F;
    }

    .mainFriendsChatProps > span {
        margin: 0;
        font-size: 17px;
        font-weight: 500;
        color: white;
    }

    .menuBars {
        margin: 0 10px 0 10px;
        color: #F8F8FA;
        cursor: pointer;
    }

    .mainFriendsChatIn {
        position: absolute;
        background-color:  #2F3136;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-animation: slideIn 0.5s linear;
        animation: slideIn 0.5s linear;
        left: 55vw;
    }
    
    @-webkit-keyframes slideIn {
        0% { left: 0; }
        100% { left: calc(55vw); }
    }
    
    @keyframes slideIn {
        0% { left: 0; }
        100% { left: calc(55vw); }
    }
}